APP_ENV=production
APP_DEBUG=false
APP_THEME=pterodactyl
APP_KEY=base64:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
APP_TIMEZONE=UTC
APP_URL="https://panel.example.com"
APP_SERVICE_AUTHOR="example@gmail.com"
APP_LOCALE=en
APP_ENVIRONMENT_ONLY=false
RECAPTCHA_ENALBED=false
LE_EMAIL="example@gmail.com"
TRUSTED_PROXIES=*

PTERODACTYL_TELEMETRY_ENABLED=false

SESSION_SECURE_COOKIE=true

LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=panel
DB_USERNAME=pterodactyl
DB_PASSWORD="supersecurepassword"

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

HASHIDS_SALT=AAAAAAAAAAAAA
HASHIDS_LENGTH=8

MAIL_DRIVER=mail
MAIL_FROM_ADDRESS=no-reply@example.com
MAIL_FROM="no-reply@example.com"
MAIL_FROM_NAME="Pterodactyl Panel"
# You should set this to your domain to prevent it defaulting to 'localhost', causing
# mail servers such as Gmail to reject your mail.
#
# @see: https://github.com/pterodactyl/panel/pull/3110
# MAIL_EHLO_DOMAIN=panel.example.com